<a href="https://colab.research.google.com/github/cecilia-wanja/2nd-analysis-of-financial-inclusion-in-East-Africa/blob/master/Prediction_of_thyroid_patients.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# QUESTION
Nairobi Hospital conducted a clinical camp to test for hypothyroidism. The data collected focused on Thyroid patients. 
I will build a model that determines whether or not the patient's symptoms indicate that the patient has hypothyroid.

# METRICS OF SUCCESS

# CONTEXT
We have been provided for the following columns in the dataset;
1. Age
2. Sex
3. on_thyroxine
4. query_on_thyroxine
5. on_antithyroid_medicationthyroid_surgery
6. query_hypothyroid
7. query_hyperthyroid
8. pregnant
9. sick
10. tumor
11. lithium
12. goitre
13. TSH_measured
14. TSH
15. T3_measured
16. T3
17. TT4_measured
18. TT4

A simpler overview on the meaning of some terms portrayed above:
Thyroxine is the main hormone secreted into the bloodstream by the thyroid gland.

on_antithyroid_medicationthyroid_surgery is the column that shows the number of patients who are undergoing surgery to cure the disease.

query_hypothyroid shows the number of patients who's thyroid gland is unaderactive.

query_hyperthyroid shows the number of patients who's thyroid gland is hyperactive.

lithium shows the number of patients who have this component that can cause goitre and hypothhyroidsm.

goitre shows the number of people with either overproductive or underproductive thyroid glands.

TSH measured is a test done to find out whether the thyroid gland is working the way it should.

TSH is a test to find out the amount of hormone produces.

T3 & T4 are the major hormones produced by the thyroid glands.
Normal T3 ranges from 4.6 to 11.2.
Normal T4 should range from 5.0 to 12.0

# EXPERIMENTAL DESIGN

# APPROPRIATENESS OF THE DATA

# Loading Our Data

In [0]:
#importing our necessary libraries
import pandas as pd
#allows us to organize data in tabular form
import numpy as np
#numpy allows us to work with multi dimensional arrays
import scipy
#scipy-a python ecosystem used for mathematics, machine learning 
import matplotlib.pyplot as plt
#matplotlib-a 2D library for plotting numpy computations
import seaborn as sns
#seaborn-a python visualization based on matplotlib, helps in drawing attractive statistical graphics
import sklearn
#sklearn-used for machine learning, 
%matplotlib inline
#for visualization 
import statsmodels.api as sm
#statsmodel-used to run regression

In [3]:
#previewing the first five rows of our dataset.
df = pd.read_csv("hypothyroid.csv")
df.head()

        status age sex on_thyroxine  ... FTI_measured FTI TBG_measured TBG
0  hypothyroid  72   M            f  ...            y  10            n   ?
1  hypothyroid  15   F            t  ...            y  17            n   ?
2  hypothyroid  24   M            f  ...            y   0            n   ?
3  hypothyroid  24   F            f  ...            y   6            n   ?
4  hypothyroid  77   M            f  ...            y  44            n   ?

[5 rows x 26 columns]

# Cleaning

In [5]:
#looking at the number of rows and columns respectively in our dataset
df.shape

(3163, 26)

In [6]:
#looking for any null values
df.isnull().any()

status                       False
age                          False
sex                          False
on_thyroxine                 False
query_on_thyroxine           False
on_antithyroid_medication    False
thyroid_surgery              False
query_hypothyroid            False
query_hyperthyroid           False
pregnant                     False
sick                         False
tumor                        False
lithium                      False
goitre                       False
TSH_measured                 False
TSH                          False
T3_measured                  False
T3                           False
TT4_measured                 False
TT4                          False
T4U_measured                 False
T4U                          False
FTI_measured                 False
FTI                          False
TBG_measured                 False
TBG                          False
dtype: bool

In [9]:
#looking for any duplicated data
df.duplicated().sum()

77

In [0]:
#removing the duplicated data
df.drop_duplicates(inplace = True)

In [11]:
#checking whether the duplicates are still there
df.duplicated().sum()

0

# Analysis

In [15]:
#finding the correlation of the columns
correlation = df.corr()
print(correlation)

Empty DataFrame
Columns: []
Index: []

you will realise that most of the columns are in boolean form making it hard to carry out correlation.

In [17]:
#showing the statistical overview of the data
df.describe()

          status   age   sex on_thyroxine  ... FTI_measured   FTI TBG_measured   TBG
count       3086  3086  3086         3086  ...         3086  3086         3086  3086
unique         2    93     3            2  ...            2   281            2    53
top     negative     ?     F            f  ...            y     ?            n     ?
freq        2945   438  2119         2640  ...         2848   238         2835  2835

[4 rows x 26 columns]